@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: black;
}

body {
  font-family: Jost;
}

.container {
  max-width: 460px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 1290px) {
  .container {
    max-width: 1260px;
  }
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-ExtraLight.woff2") format("woff2"), url("../fonts/Jost-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Light.woff2") format("woff2"), url("../fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.header__logo {
  position: relative;
  z-index: 10;
}
.header__logo-img {
  width: 60px;
  height: 32px;
}
@media (min-width: 768px) {
  .header__logo-img {
    width: 80px;
    height: 42px;
  }
}
@media (min-width: 1290px) {
  .header__logo-img {
    width: 102px;
    height: 53px;
  }
}
.header__idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: relative;
  z-index: 10;
}
.header__idea-img {
  width: 40px;
  height: 24px;
}
@media (min-width: 1290px) {
  .header__idea-img {
    width: 67px;
    height: 40px;
  }
}
.header__idea-text {
  font-size: 15px;
  max-width: 100px;
  font-style: italic;
}
@media (min-width: 768px) {
  .header__idea-text {
    max-width: 210px;
  }
}
@media (min-width: 1290px) {
  .header__idea-text {
    font-size: 20px;
    max-width: 300px;
  }
}
.header__btn {
  display: none;
}
@media (min-width: 1290px) {
  .header__btn {
    display: block;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
    padding: 14px 32px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 5px 2px teal;
            box-shadow: 0 5px 2px teal;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}
.header__btn:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-box-shadow: 0 2px 2px teal;
          box-shadow: 0 2px 2px teal;
}

@media (min-width: 768px) {
  .menu__icon {
    display: none;
  }
}
.menu__list {
  position: absolute;
  top: -10000px;
}
@media (min-width: 768px) {
  .menu__list {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1290px) {
  .menu__list {
    gap: 30px;
  }
}
.menu.menu-open .menu__list {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 72px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 5;
}
.menu__list-item {
  position: relative;
}
@media (min-width: 768px) {
  .menu__list-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
}
@media (min-width: 768px) {
  .menu .menu__list-item:hover::after {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .menu__list-item:first-child::after {
    background-image: none;
  }
}
.menu__list-item-link {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 0;
}
.menu__list-drop::before {
  content: "";
  background-image: url("/img/bg/down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 22px;
  left: 63px;
  width: 12px;
  height: 14px;
}
@media (min-width: 360px) {
  .menu__list-drop::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu__list-drop::before {
    display: block;
  }
}
@media (min-width: 768px) {
  .menu__sublist {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    z-index: 2;
    opacity: 0;
    top: 50px;
    font-size: 16px;
    left: 0;
    border-radius: 15px;
    -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.15);
    font-size: 20px;
  }
}
@media (min-width: 1290px) {
  .menu__sublist {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    width: 450px;
    z-index: 2;
    opacity: 0;
    top: 50px;
    left: 0;
    border-radius: 15px;
    -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.15);
    font-size: 20px;
  }
}
.menu__list-item:hover .menu__sublist {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}
.menu__sublist-item {
  position: relative;
}
@media (min-width: 768px) {
  .menu__sublist-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
}
@media (min-width: 768px) {
  .menu__sublist-item:hover::after {
    opacity: 1;
  }
}
.menu__sublist-item-link {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
}

.menu__icon {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 101;
  bottom: 3px;
}
.menu__icon::after {
  content: "";
  width: 100%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__icon::before {
  content: "";
  width: 100%;
  height: 10%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.menu__icon span {
  width: 100%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.menu.menu-open .menu__icon::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, -100%);
          transform: rotate(45deg) translate(0, -100%);
}
.menu.menu-open .menu__icon::before {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate(0, 50%);
          transform: rotate(-45deg) translate(0, 50%);
}
.menu.menu-open .menu__icon span {
  opacity: 0;
}

.hero {
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .hero {
    margin-bottom: 200px;
  }
}
.hero__body {
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  min-height: calc(100vh - 133px);
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__info {
  position: relative;
  z-index: 1;
  padding: 0 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
@media (min-width: 768px) {
  .hero__info {
    padding: 0 20px 0 86px;
  }
}
.hero__title {
  max-width: calc((1vw + 1vh) * 22);
  color: #fff;
  font-family: Nunito;
  font-size: calc((1vw + 1vh) * 2.31);
  font-weight: 700;
  line-height: calc((1vw + 1vh) * 2.8);
  margin-bottom: 16px;
}
.hero__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 20px;
    max-width: 460px;
    line-height: 36px;
  }
}
@media (min-width: 1290px) {
  .hero__text {
    max-width: 670px;
  }
}

.services {
  margin-bottom: 150px;
}
.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1290px) {
  .services__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1290px) {
  .services__left {
    margin-right: 40px;
    position: sticky;
    top: 100px;
    max-height: 600px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }
}
.services__title {
  font-size: 35px;
  font-family: Nunito;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .services__title {
    font-size: 70px;
  }
}
.services__desc {
  margin-bottom: 90px;
  line-height: normal;
  font-weight: 300;
}
@media (min-width: 768px) {
  .services__desc {
    font-size: 22px;
  }
}
.services__animation {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 32px;
  width: 130px;
  margin-left: 35%;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .services__animation {
    margin-left: 40%;
  }
}
@media (min-width: 1290px) {
  .services__animation {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 455px;
    height: 113px;
    margin-left: 10%;
  }
}
.services__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}
.services__card {
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 15px 40px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .services__card {
    padding: 30px 25px 50px 25px;
  }
}
.services__card-img {
  margin-bottom: 20px;
}
.services__card-title {
  font-size: 22px;
  font-weight: 700;
  font-family: Nunito;
  margin-bottom: 35px;
  position: relative;
}
@media (min-width: 768px) {
  .services__card-title {
    font-size: 26px;
    max-width: 500px;
  }
}
.services__card-title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
}
.services__card-desc {
  color: #454545;
  font-size: 19px;
  font-weight: 300;
  line-height: normal;
}
@media (min-width: 768px) {
  .services__card-desc {
    max-width: 500px;
  }
}