.header {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    &__logo {
        position: relative;
        z-index: 10;
    }

    &__logo-img {
        width: 60px;
        height: 32px;
        @media (min-width: 768px){
            width: 80px;
            height: 42px;
        }
        @media (min-width: 1290px){
            width: 102px;
            height: 53px;
        }
    }

    &__idea {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        z-index: 10;
    }

    &__idea-img {
        width: 40px;
        height: 24px;
        @media (min-width: 1290px){
            width: 67px;
            height: 40px;
        }
    }

    &__idea-text {
        font-size: 15px;
        max-width: 100px;
        font-style: italic;
        @media (min-width: 768px){
            max-width: 210px;
        }
        @media (min-width: 1290px){
            font-size: 20px;
            max-width: 300px;
        }
    }

    &__menu {
    }

    &__btn{
        display: none;
        @media (min-width: 1290px){
            display: block;
            color: #fff;
            font-size: 17px;
            font-weight: 700;
            border-radius: 10px;
            background: linear-gradient(117deg, #3CA0D2 11.27%, #48DCA6 67.35%);
            padding: 14px 32px;
            transition: all .3s ease;
            box-shadow: 0 5px 2px teal;
            transform: translate(0, -5px);
        }
    }
    &__btn:hover{
        transform: translate(0, -2px);
        box-shadow: 0 2px 2px teal;
    }
}
